@import "../../../styling/variables";

* {
  font-family: Bookman, serif;
  background-color: $white;
  color: $black;
}

.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -25em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.75;
  width: 50em;
  height: 30em;
  border-radius: 30px;
  box-shadow: 2px 2px 4px $black;

  #button-back-container {
    background: none;

    #button-back {
      margin-left: 1em;
      margin-top: 0.5em;
      background: none;
      border: none;
      font-size: 18px;
      font-weight: bold;
      color: $black;
      text-shadow: 2px 2px 4px $black;
      cursor: pointer;

      &:hover {
        text-shadow: 4px 4px 8px $black;
        color: $white;
        transition: 0.2s;
      }
    }
  }

  form {
    width: 80%;
    height: 80%;
    margin: 2em 5em;
    background: none;
    align-items: center;

    * {
      background: none;
    }

    > div:first-child {
      margin-top: 15%;
    }

    > div {
      align-items: center;
      margin-bottom: 2em;
    }

    label {
      font-size: 22px;
      color: $white;
      margin-right: 0.5em;
      text-shadow: 2px 2px 4px $black;
    }

    input {
      height: max-content;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      border: 3px solid $orange;
      border-radius: 5px;
      box-shadow: 2px 2px 4px $black;
      width: 15em;

      &:hover {
        border-color: $white;
        box-shadow: 4px 4px 8px $black;
        transition: 0.2s;
      }
    }

    button {
      font-size: 25px;
      font-weight: bold;
      color: $white;
      padding: 0.5em 2em;
      border: 3px solid $orange;
      border-radius: 10px;
      background-color: $orange;
      box-shadow: 2px 2px 4px $black;
      text-shadow: 2px 2px 4px $black;
      cursor: pointer;

      &:hover {
        color: $black;
        box-shadow: 4px 4px 8px $black;
        text-shadow: none;
        transition: 0.2s;
      }
    }

    .text-alert {
      font-size: 18px;
      font-weight: bold;
      color: red;
      text-align: center;
    }

    .disabled-button {
      border-color: $gray;
      background-color: $gray;
      color: $black;
      text-shadow: none;
      cursor: default;

      &:hover {
        border-color: $gray;
        box-shadow: 2px 2px 4px $black;
      }
    }

    .response-alert{
      color: red;
      font-weight: bold;
      margin-bottom: 2em;
    }
  }
}
