<div style="width: 100%; height: 100%">
  <div id="background" class="flex-container-column" [ngStyle]="{'background-image': getBackgroundImageUrl()}">
    <div id="button-back-container">
      <button type="button" id="button-back" onclick="location.href='/'">&#8592;</button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()" class="flex-container-column">
      <h2 *ngIf="errorMessage" class="response-alert">{{errorMessage}}</h2>

      <div class="flex-container-column">
        <div class="flex-container-column">
          <div *ngIf="email()?.invalid && (email()?.dirty || email()?.touched) && !errorMessage">
            <div *ngIf="!emailValidationRequired()" class="text-alert">
              Acest camp este obligatoriu!
            </div>

            <div *ngIf="!emailValidationIsEmail()" class="text-alert">
              Textul introdus nu este o adresa de email!
            </div>
          </div>

          <div class="flex-container-row">
            <label for="email">Email:</label>
            <input formControlName="email" type="text" id="email">
          </div>
        </div>
      </div>

      <div class="flex-container-column">
        <div *ngIf="password()?.invalid && (password()?.dirty || password()?.touched) && !errorMessage">
          <div *ngIf="!passwordValidationRequired()" class="text-alert">
            Acest camp este obligatoriu!
          </div>
        </div>

        <div class="flex-container-row">
          <label for="password">Parola:</label>
          <input formControlName="password" type="password" id="password">
        </div>
      </div>

      <button type="submit" [disabled]="!loginForm.valid" [ngClass]="!loginForm.valid ? 'disabled-button' : ''">
        Autentificare
      </button>
    </form>
  </div>
</div>


