<form>
  <div class="flex-container-column">
    <!--  TODO: Angular form-->
    <!--  TODO: Frontend validation of data-->
    <div class="flex-container-row">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </div>

    <div class="flex-container-row">
      <label for="password">Parola:</label>
      <input type="password" name="password" id="password">
    </div>

<!--    TODO: This is just a demo example-->
    <button (click)="raiseLoginEvent()">Autentificare</button>
  </div>
</form>
