<form>
  <div class="flex-container-column">
    <!--  TODO: Angular form-->
    <!--  TODO: Frontend validation of data-->
    <div class="flex-container-row">
      <label for="fname">Prenume:</label>
      <input type="text" name="fname" id="fname">
    </div>

    <div class="flex-container-row">
      <label for="lname">Nume:</label>
      <input type="text" name="lname" id="lname">
    </div>

    <div class="flex-container-row">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </div>

    <div class="flex-container-row">
      <label for="password">Parola:</label>
      <input type="password" name="password" id="password">
    </div>

    <button>Inregistrare</button>
  </div>
</form>
