<form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
  <div class="flex-container-column" id="message-container">
    <h2 *ngIf="errorMessage" class="response-alert">{{errorMessage}}</h2>
    <h2 *ngIf="successMessage" class="response-success">{{successMessage}}</h2>
  </div>

  <div class="flex-container-column">
    <div class="flex-container-column">
      <div
        *ngIf="firstName()?.invalid && (firstName()?.dirty || firstName()?.touched) && !errorMessage && !successMessage">
        <div *ngIf="!firstNameValidationRequired()" class="text-alert">
          Acest camp este obligatoriu!
        </div>
      </div>

      <div class="flex-container-row">
        <label for="fname">Prenume:</label>
        <input formControlName="firstName" type="text" id="fname">
      </div>
    </div>

    <div class="flex-container-column">
      <div
        *ngIf="lastName()?.invalid && (lastName()?.dirty || lastName()?.touched) && !errorMessage && !successMessage">
        <div *ngIf="!lastNameValidationRequired()" class="text-alert">
          Acest camp este obligatoriu!
        </div>
      </div>

      <div class="flex-container-row">
        <label for="lname">Nume:</label>
        <input formControlName="lastName" type="text" id="lname">
      </div>
    </div>

    <div class="flex-container-column">
      <div *ngIf="email()?.invalid && (email()?.dirty || email()?.touched) && !errorMessage && !successMessage">
        <div *ngIf="!emailValidationRequired()" class="text-alert">
          Acest camp este obligatoriu!
        </div>
        <div *ngIf="!emailValidationIsEmail()" class="text-alert">
          Textul introdus nu este o adresa de email!
        </div>
      </div>

      <div class="flex-container-row">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" id="email">
      </div>
    </div>

    <div class="flex-container-column">
      <div
        *ngIf="password()?.invalid && (password()?.dirty || password()?.touched) && !errorMessage && !successMessage">
        <div *ngIf="!passwordValidationRequired()" class="text-alert">
          Acest camp este obligatoriu!
        </div>
        <div *ngIf="!passwordValidationPattern()" class="text-alert">
          Parola trebuie sa contina cel putin o majuscula, o litera mica, un simbol si minim 8 caractere.
        </div>
      </div>

      <div class="flex-container-row">
        <label for="password">Parola:</label>
        <input formControlName="password" type="password" id="password">
      </div>
    </div>

    <button type="submit" [disabled]="!registerForm.valid" [ngClass]="!registerForm.valid ? 'disabled-button' : ''">
      Inregistrare
    </button>
  </div>
</form>
