<div *ngIf="stockDto.abbreviation == 'error'" class="stock-error flex-container-column">
  <h2>Eroare: Nu am gasit stock-ul pe care ai incercat sa il cauti!</h2>
</div>

<div *ngIf="stockDto.abbreviation == 'internal'" class="stock-error flex-container-column">
  <h2>Eroare: Serviciul este indisponibil momentan!</h2>
</div>

<div *ngIf="stockDto.abbreviation != 'error' && stockDto.abbreviation != 'internal'" id="container"
     class="flex-container-column">
  <h1>{{stockDto.name}}</h1>
  <div class="flex-container-row" style="align-items: center;">
    <h2>{{stockDto.abbreviation}}</h2>
    <button type="button" class="favorite-mark"
            (click)="isMarkedAsFavorite()? markAsNotFavorite() : markAsFavorite()">
      {{isMarkedAsFavorite() ? '&#9733;' : '&#9734;'}}
    </button>
  </div>


  <!--TODO: More informations can be scrapped on backend from https://www.bloomberg.com/quote/INDU:IND-->
  <p id="stock-description">The Dow Jones Industrial Average is a price-weighted average of 30 blue-chip stocks that are
    generally the leaders in their industry. It has been a widely followed indicator of the stock market since October
    1, 1928.</p>
  <div class="flex-container-row">
    <div class="flex-container-column">
      <h3>Fluctuatia pretului in ultimele 30 de zile</h3>
      <img src="/assets/dummy-price-graph.jpg" alt="">
    </div>

    <div class="flex-container-column">
      <h3>Prezicerea pretului in urmatoarele 7 zile</h3>
      <img src="/assets/dummy-price-graph.jpg" alt="">
    </div>
  </div>

  <div id="comments-container">
    <h2>{{getNumberOfComments()}} Comentarii</h2>

    <div class="flex-container-row">
      <div *ngIf="successMessage" class="success-message">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
      </div>

      <div class="flex-container-row">
        <img src="/assets/profile-user.png" alt="">

        <form [formGroup]="commentForm" (ngSubmit)="insertComment()" id="user-comment" class="flex-container-column">
          <div *ngIf="commentText()?.invalid && (commentText()?.dirty || commentText()?.touched)">
            <div *ngIf="!commentTextValidationRequired()" class="text-alert">
              Acest camp este obligatoriu!
            </div>
          </div>

          <textarea formControlName="text" id="text" placeholder="..." rows="3"></textarea>
          <button type="submit" [disabled]="!commentForm.valid" [ngClass]="!commentForm.valid ? 'disabled-button' : ''">
            Adauga comentariul
          </button>
        </form>
      </div>

      <div *ngIf="getNumberOfComments() == 0" class="flex-container-column" id="no-comments-container">
        <h3>Fii primul care lasa o parere!</h3>
      </div>

      <div class="flex-container-column">
        <div *ngFor="let comment of getVisibleComments()" class="comment flex-container-column">
          <div class="flex-container-row">
            <img src="/assets/profile-user.png" alt="">
            <p class="comment-name">{{comment.author}}</p>
            <p class="comment-date">{{comment.datePublished}}</p>
          </div>

          <p class="comment-text">{{comment.message}}</p>

          <div class="flex-container-row">
            <button type="button" class="comment-likes" (click)="likeComment(comment)">{{comment.likes}} Likes</button>
            <button type="button" class="comment-dislikes" (click)="dislikeComment(comment)">{{comment.dislikes}}
              Dislikes
            </button>
          </div>
        </div>

        <button *ngIf="numberOfVisibleStocks < getComments().length" type="button" id="show-more-comments-button"
                (click)="increaseNumberOfVisibleComments()">
          Arata mai multe comentarii
        </button>
      </div>
    </div>
  </div>
</div>
