@import "../../../../styling/variables";

* {
  font-family: Bookman, serif;
  background-color: $white;
  color: $black;
}

.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.stock-error {
  margin: 1.5em 3em;
  align-items: center;
  flex-grow: 1;
}

#container {
  margin: 1.5em 3em;
  align-items: center;

  > h1, > h2 {
    color: $orange;
    text-shadow: 0.7px 0.7px 2px $black;
  }

  > h1 {
    margin-bottom: 0;
  }

  #stock-description {
    font-size: 18px;
    width: 60%;
    text-align: center;
  }

  > div {
    flex-grow: 1;

    > div {
      align-items: center;

      > h3 {
        font-size: 20px;
        text-shadow: 0.25px 0.25px 0.5px $black;
      }
    }

    > div:first-child {
      margin-right: 7em;
    }
  }

  #comments-container {
    flex-grow: 1;
    width: 100%;
    align-items: initial;
    margin-top: 2em;

    .success-message {
      color: green;
      font-size: 16px;
      font-weight: bold;
    }

    .error-message {
      color: red;
      font-size: 16px;
      font-weight: bold;
    }

    div {
      width: 70%;

      img {
        object-fit: cover;
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
      }

      #user-comment {
        flex-grow: 1;

        textarea {
          font-size: 18px;
          border: 2px solid $black;
          border-radius: 5px;
          box-shadow: 1px 1px 2px $black;
          padding: 0.2em;

          &:hover {
            border-color: $blue;
            box-shadow: 2px 2px 4px $black;
            transition: 0.2s;
          }
        }

        .text-alert {
          color: red;
        }

        button {
          font-family: Bookman, serif;
          font-size: 20px;
          width: max-content;
          margin-left: auto;
          margin-top: 0.5em;
          padding: 0.2em 0.5em;
          cursor: pointer;
          border: 3px solid $orange;
          background-color: $orange;
          border-radius: 10px;
          box-shadow: 2px 2px 4px $black;
          text-shadow: 0.5px 0.5px 1px $black;

          &:hover {
            box-shadow: 4px 4px 4px $black;
            text-shadow: 1px 1px 2px $black;
            transition: 0.2s;
          }
        }

        .disabled-button {
          background-color: $gray;
          border-color: $gray;
          color: $darkPurple;
          cursor: default;

          &:hover {
            box-shadow: 2px 2px 4px $black;
            text-shadow: 0.5px 0.5px 1px $black;
          }
        }
      }

      #no-comments-container {
        align-items: center;

        h3 {
          color: $gray;
        }
      }

      .flex-container-column {
        background: none;
      }

      .comment {
        flex-grow: 1;
        background: none;

        .flex-container-row {
          align-items: center;
          background: none;
        }

        .comment-name {
          font-size: 20px;
          margin-right: 1em;
          text-shadow: 0.5px 0.5px 2px $black;
        }

        .comment-date {
          color: $gray;
        }

        .comment-text {
          font-size: 17px;
          margin-left: 4em;
          margin-top: 0;
          margin-bottom: 0;
        }

        .flex-container-row:last-child {
          margin-left: 3em;
          margin-top: 0
        }

        .comment-likes, .comment-dislikes {
          color: $gray;
          font-size: 14px;
          cursor: pointer;
          border: none;
          margin-bottom: 0.5em;

          &:hover {
            color: $black;
            transition: 0.1s;
          }
        }
      }

      #show-more-comments-button {
        border: none;
        width: max-content;
        font-size: 16px;
        color: $orange;
        margin: 1em auto 0 auto;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          text-shadow: 0.5em 0.5em 0.5em $black;
          transition: 0.2s;
        }
      }
    }
  }
}
