<div id="searchBar" class="flex-container-column">
  <div class="flex-container-row">
    <input type="text" id="search" name="search" placeholder="Cauta..." (input)="onSearchBarChange($event)"/>
    <button type="button">&#x26B2;</button>
  </div>
</div>

<div *ngIf="requestedStocks == true" class="flex-container-column" id="spinner"></div>

<div *ngIf="requestedStocks == false && getActualStocks().length == 1 && getActualStocks()[0].abbreviation == 'error'" class="flex-container-column"
     id="stocks-error">
  <h2>Eroare: Serviciul nu este disponibil momentan!</h2>
</div>

<div *ngIf="requestedStocks == false && getActualStocks().length == 0" class="flex-container-column" id="stocks-info">
  <h2>Nu am gasit niciun stock!</h2>
</div>

<div *ngIf="requestedStocks == false && getActualStocks().length > 0 && getActualStocks()[0].abbreviation != 'error'" id="stocks"
     class="flex-container-row">
  <div *ngFor="let stock of getActualStocks(); let i = index" class="stock-container flex-container-column"
       (click)="redirectToStockPage(stock)">
    <div class="flex-container-row">
      <h2>{{stock.name}}</h2>
      <h3>{{stock.abbreviation}}</h3>
    </div>

    <div class="flex-container-column">
      <p>Pretul actual:
        <b>{{stock.todayPrice != undefined ?
          (stock.todayPrice.value != -999999999 ? stock.todayPrice.value + "$" : "Serviciul este indisponibil!") :
          "Serviciul este indisponibil!"}}</b>
      </p>

      <p>Pretul prezis
        pentru {{stock.tomorrowPrice != undefined ? stock.tomorrowPrice.dateAsString() : getTomorrowDateAsString()}}:
        <b>{{stock.tomorrowPrice != undefined ?
          (stock.tomorrowPrice.value != -999999999 ? stock.tomorrowPrice.value + "$" : "Serviciul este indisponibil!") :
          "Serviciul este indisponibil!"}}</b>
      </p>

      <p *ngIf="getStockPricesDifference(stock)! != undefined"
         [ngClass]="getStockPricesDifference(stock)! > 0 ? 'price-increased' : 'price-decreased'">
        {{(getStockPricesDifference(stock)! > 0 ?
        'Crestere preconizata de ' + getStockPricesDifference(stock) + '%' :
        'Scadere preconizata de ' + getStockPricesDifference(stock) + '%')}}
      </p>
    </div>
  </div>
</div>

<div id="pagination-container" class="flex-container-column">
  <div id="pagination" class="flex-container-row">
    <a (click)="decrementStocksIndex()" [ngClass]="getStocksIndex() == 0 ? 'disabled' : ''">&laquo;</a>
    <a *ngFor="let number of getStocksPages()" (click)="updateStockIndexValue(number)"
       [ngClass]="getStocksIndex() == number ? 'selected' : ''">
      {{number + 1}}
    </a>
    <a (click)="incrementStocksIndex()"
       [ngClass]="getStocksIndex() == getNumberOfPages() - 1 ? 'disabled' : ''">&raquo;</a>
  </div>
</div>
