<!--TODO: angular route with query string parameters (search)-->
<!--TODO: angular route with anchors (pagination)-->
<!--TODO: should work both in the same time-->
<!--TODO: make it programatically generated (10 stocks per page)-->

<div id="searchBar" class="flex-container-column">
  <form method="get" action="/all-stocks" class="flex-container-row">
    <input type="text" id="search" name="search" placeholder="Cauta..."/>
    <button type="submit">&#x26B2;</button>
  </form>
</div>

<div id="stocks" class="flex-container-column">
  <div class="stock-container flex-container-column">
    <div class="stock flex-container-row">
      <h2>StockName (Abrev.)</h2>
      <div class="flex-container-row">
        <h3>124.35$</h3>
        <button (click)="displayDropDown(0)"><i class="arrow down"></i></button>
      </div>
    </div>

    <div class="stock-dropdown stock-dropdown-hidden flex-container-column">
      <div class="line"></div>

      <img src="/assets/dummy-price-graph.jpg" alt="">
      <p>Valoarea actuala: <b>124.35$</b></p>
      <p>Valoarea prezisa pentru maine: <b>126.35$</b></p>
      <p class="price-raised">&#8599; Crestere preconizata de 1.58%</p>

      <div class="line"></div>

      <a href="#">Vreau sa vad ce cred ceilalti utilizatori</a>
    </div>
  </div>

  <div class="stock-container flex-container-column">
    <div class="stock flex-container-row">
      <h2>StockName (Abrev.)</h2>
      <div class="flex-container-row">
        <h3>124.35$</h3>
        <button (click)="displayDropDown(1)"><i class="arrow down"></i></button>
      </div>
    </div>

    <div class="stock-dropdown stock-dropdown-hidden flex-container-column">
      <div class="line"></div>

      <img src="/assets/dummy-price-graph.jpg" alt="">
      <p>Valoarea actuala: <b>124.35$</b></p>
      <p>Valoarea prezisa pentru maine: <b>122.35$</b></p>
      <p class="price-reduced">&#8600; Scadere preconizata de 1.63%</p>

      <div class="line"></div>

      <a href="#">Vreau sa vad ce cred ceilalti utilizatori</a>
    </div>
  </div>
</div>

<div id="pagination-container" class="flex-container-column">
  <div id="pagination" class="flex-container-row">
    <a href="/all-stocks#" class="disabled">&laquo;</a>
    <a href="/all-stocks#page1" class="selected">1</a>
    <a href="/all-stocks#page2">2</a>
    <a href="/all-stocks#">&raquo;</a>
  </div>
</div>

