<div id="searchBar" class="flex-container-column">
  <div class="flex-container-row">
    <input type="text" id="search" name="search" placeholder="Cauta..." (input)="onSearchBarChange($event)"/>
    <button type="button">&#x26B2;</button>
  </div>
</div>

<div *ngIf="getActualStocks().length == 0" class="flex-container-column" id="spinner"></div>

<div *ngIf="getActualStocks().length == 1 && getActualStocks()[0].abbreviation == 'error'" class="flex-container-column"
     id="stocks-error">
  <h2>Eroare: Serviciul nu este disponibil momentan!</h2>
</div>

<div id="stocks" class="flex-container-row">
  <div *ngFor="let stock of getActualStocks(); let i = index" class="stock-container flex-container-column"
       (click)="redirectToStockPage(stock)">
    <div class="flex-container-row">
      <h2>{{stock.name}}</h2>
      <h3>{{stock.abbreviation}}</h3>
    </div>

    <div class="flex-container-column">
      <p>Pretul actual pentru un stock: <b>{{stock.actualValue}}$</b></p>
      <p>Pretul prezis pentru {{getTomorrowDateAsString()}}: <b>{{stock.predictedValue}}$</b></p>
      <p class="price-increased">&#8599; Crestere preconizata de 1.58%</p> <!-- TODO: This is hardcoded-->
    </div>
  </div>
</div>

<div id="pagination-container" class="flex-container-column">
  <div id="pagination" class="flex-container-row">
    <a (click)="decrementStocksIndex()" [ngClass]="getStocksIndex() == 0 ? 'disabled' : ''">&laquo;</a>
    <a *ngFor="let number of getStocksPages()" (click)="updateStockIndexValue(number)"
       [ngClass]="getStocksIndex() == number ? 'selected' : ''">
      {{number + 1}}
    </a>
    <a (click)="incrementStocksIndex()"
       [ngClass]="getStocksIndex() == getNumberOfPages() - 1 ? 'disabled' : ''">&raquo;</a>
  </div>
</div>
