// Dark Theme
//$colorBackground: #1a1919;
//$colorPrimary: #15c026;
//$colorPrimaryHover: #62e16e;
//$white: #d6f8d5;

// Light Theme
$colorBackground: #EFEFEF;
$colorOrange: #FF3B3F;
$colorBlue: #CAEBF2;
$colorGray: #A9A9A9;
$white: #ffffff;
$black: #000000;
