@import "../styling/variables";

* {
  font-family: Bookman, serif;
  background-color: $darkBlue;
  color: $orange;
}

.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  align-items: center;
  padding: 0 1.5em;
  box-shadow: inset 0 0 3px 0 $black;

  h1#stock-arrow {
    color: $lightPurple;
    background: none;
    transform: rotateX(180deg) rotateZ(-40deg);
    margin-right: 0.2em;
    text-shadow: 1px 1px 2px $black;

    &:hover {
      text-shadow: 2px 2px 4px $black;
      transition: 0.2s;
    }
  }

  h1 > a {
    text-shadow: 1px 1px 2px $black;

    &:hover {
      border-bottom: 3px solid $orange;
      text-shadow: 2px 2px 4px $black;
      transition: 0.1s;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid $orange;
      text-shadow: 1px 1px 2px $black;
      transition: 0.1s;
    }
  }

  div.flex-container-row:first-child {
    background: none;
  }

  div.flex-container-row:last-child {
    margin-left: auto;
    align-items: center;

    .header-button {
      font-size: 18px;
      font-weight: bold;
      background-color: $orange;
      border-color: $orange;
      box-shadow: 2px 2px 2px $black;
      color: $white;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 10px;

      &:first-child {
        margin-right: 1em;
      }

      &:hover {
        background-color: $darkBlue;
        color: $orange;
        transition: 0.2s;
      }
    }

    h2 {
      margin-right: 1em;
    }

    .menu-item {
      font-size: 20px;
      font-weight: bold;
      margin-right: 1.5em;
      color: $white;
      text-shadow: 1px 1px 2px $black;

      &:hover {
        border-color: $white;
        text-shadow: 2px 2px 4px $black;
      }
    }

    #username {
      text-shadow: 1px 1px 2px $black;
      cursor: default;

      &:hover {
        text-shadow: 2px 2px 4px $black;
      }
    }

    img {
      width: 2em;
      margin-right: 0.3em;
    }
  }
}

footer {
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-shadow: inset 0 0 3px 0 $black;

  * {
    color: white;
  }

  p {
    margin-bottom: 1.5em;
  }

  a {
    text-decoration: none;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 2px $black;

    &:hover {
      color: $orange;
      transition: 0.2s;
    }
  }

  div.flex-container-column:first-child {
    background: none;
  }

  #footer-authentication, #footer-deauthentication {
    margin-left: auto;

    .footer-button {
      font-size: 18px;
      font-weight: bold;
      background-color: $orange;
      border-color: $orange;
      box-shadow: 2px 2px 2px $black;
      color: $white;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 10px;

      &:first-child {
        margin-bottom: 0.5em;
      }

      &:hover {
        background-color: $darkBlue;
        color: $orange;
        transition: 0.2s;
      }
    }
  }
}
