<header *ngIf="displayHeaderAndFooter()" class="flex-container-row">
  <div class="flex-container-row">
    <h1 id="stock-arrow">&#8623;</h1>
    <h1><a href="/">{{title}}</a></h1>
  </div>

  <div *ngIf="!getUserName()" class="flex-container-row">
    <button class="header-button" onclick="location.href='/login'">Autentificare</button>
    <button class="header-button" onclick="location.href='/register'">Inregistrare</button>
  </div>

  <div *ngIf="getUserName()" class="flex-container-row">
    <a class="menu-item" href="/all-stocks">Toate stock-urile</a>
    <a class="menu-item" href="/favorite-stocks">Stock-uri urmarite</a>

    <img src="/assets/profile-user.png" alt="">
    <h2>{{getUserName()}}</h2>

    <button class="header-button" (click)="logoutEvent()">Deautentificare</button>
  </div>
</header>

<router-outlet></router-outlet>

<footer *ngIf="displayHeaderAndFooter()" class="flex-container-row">
  <div class="flex-container-column">
    <p>Introducere in .NET 2021-2022</p>
    <a href="https://github.com/ursualin7890">Ursu Stefan-Alin</a>
    <a href="https://github.com/LaurentiuMihai112">Mihai Cristian Laurentiu</a>
    <a href="https://github.com/MarianIosub">Iosub Ovidiu Marian</a>
    <a href="https://github.com/BogdanPuiu04">Puiu Bogdan Marian</a>
  </div>

  <div *ngIf="!getUserName()" class="flex-container-column" id="footer-authentication">
    <button class="footer-button" onclick="location.href='/login'">Autentificare</button>
    <button class="footer-button" onclick="location.href='/register'">Inregistrare</button>
  </div>
</footer>
