<header class="column">
  <div class="flex-container-row">
    <div *ngIf="getUserName() != ''" class="flex-container-row" id="menu-container">
      <button (click)="showSidebarMenu()" [innerHTML]="sidebarButtonText"></button>

      <div *ngIf="sidebarMenu" class="flex-container-column" id="sidebar-menu">
        <button id="sidebar-menu_close-button" (click)="showSidebarMenu()">X</button>
        <a href="#">Toate stock-urile</a>
        <div class="line"></div>
        <a href="#">Stock-uri urmarite</a>
      </div>
    </div>

    <h1><a href="/">Stock Price Prediction</a></h1>
    <div *ngIf="getUserName() == ''" class="flex-container-row">
      <button class="header-button" onclick="location.href='/login'">Autentificare</button>
      <button class="header-button" onclick="location.href='/register'">Inregistrare</button>
    </div>

    <div *ngIf="getUserName() != ''" class="flex-container-row" id="registered-header">
<!--      TODO: <img src="/assets/account-icon.png">-->
      <p>{{getUserName()}}</p>
      <button class="header-button" (click)="logoutEvent()">Logout</button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="flex-container-column">
  <div class="flex-container-row">
    <div class="flex-container-column">
      <p>Introducere in .NET</p>
      <p>2021-2022</p>
    </div>

    <div class="flex-container-column">
      <p><a href="https://github.com/ursualin7890">Ursu Stefan-Alin</a></p>
      <p><a href="https://github.com/LaurentiuMihai112">Mihai Cristian Laurentiu</a></p>
      <p><a href="https://github.com/MarianIosub">Iosub Ovidiu Marian</a></p>
      <p><a href="https://github.com/BogdanPuiu04">Puiu Bogdan Marian</a></p>
    </div>
  </div>
</footer>
