<header *ngIf="displayHeaderAndFooter()" [ngStyle]="{'background-image':getBackgroundImageUrl()}"
        class="flex-container-column">
  <h1 id="title"><a href="/">{{title}}</a></h1>

  <div *ngIf="!getUserName()" class="flex-container-row">
    <button id="login-button" onclick="location.href='/login'">Autentificare</button>
    <button id="register-button" onclick="location.href='/register'">Inregistrare</button>
  </div>

  <div *ngIf="getUserName()" class="flex-container-column">
    <div class="flex-container-row">
      <a class="menu-item" href="/all-stocks" [ngClass]="highlightAllStocksMenuItem() ? 'highlighted-menu-item' : ''">
        Toate stock-urile
      </a>
      <a class="menu-item" href="/favorite-stocks"
         [ngClass]="highlightFavoriteStocksMenuItem() ? 'highlighted-menu-item' : ''">
        Stock-uri favorite
      </a>
    </div>

    <div class="flex-container-column" id="logged-user-container">
      <div class="flex-container-row">
        <img src="/assets/profile-user.png" alt="" id="profile-image">
        <h2 id="username">{{getUserName()}}</h2>
      </div>

      <button id="logout-button" (click)="logoutEvent()">Deconectare</button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer *ngIf="displayHeaderAndFooter()" class="flex-container-row">
  <div class="flex-container-column">
    <p>Introducere in .NET 2021-2022</p>
    <a href="https://github.com/ursualin7890">Ursu Stefan-Alin</a>
    <a href="https://github.com/LaurentiuMihai112">Mihai Cristian Laurentiu</a>
    <a href="https://github.com/MarianIosub">Iosub Ovidiu Marian</a>
    <a href="https://github.com/BogdanPuiu04">Puiu Bogdan Marian</a>
  </div>

  <div *ngIf="!getUserName()" class="flex-container-column" id="footer-authentication">
    <button class="footer-button" onclick="location.href='/login'">Autentificare</button>
    <button class="footer-button" onclick="location.href='/register'">Inregistrare</button>
  </div>

  <div *ngIf="getUserName()" class="flex-container-column" id="footer-deauthentication">
    <button class="footer-button" (click)="logoutEvent()">Deconectare</button>
  </div>
</footer>
