@import "../../../styling/variables";

* {
  font-family: "Roboto Light", serif;
  background-color: $white;
  color: $black;
}

.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div {
  margin: 0;
  padding: 0;
  text-align: center;

  > * {
    margin: 0;
    padding: 0;
  }

  > h1 {
    padding: 7em 0;
  }
}
